.teaser.block {
    width: 100%;
    min-height: 360px;
}

.teaser.block>div:first-child {
    display: flex;
    width: 100%;
}

.teaser.block>div:first-child>div:first-child {
    flex: 0 0 60%;
}

.teaser.block>div:first-child>div:nth-child(2) {
    flex: 0 0 40%;
    background-color: #ebebeb;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 3.5em 2em 2em;
}

.teaser.block picture,
.teaser.block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}