footer {
  font-size: var(--body-font-size-xs);
  background-color: #202020;
  color: #ebebeb;
  margin-top: 3rem;
  padding: 1rem 0 1.5rem;

}

footer .footer>div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer a {
  color: #fff;
  text-decoration: underline;
}

footer .footer a:hover {
  color: var(--link-hover-color);
}

footer .footer p {
  font-size: 12px;
  line-height: 1.25;
}

@media (width >=900px) {
  footer .footer>div {
    padding: 40px 32px 24px;
  }
}

.footer-logo {
  max-width: 165px;
  margin-bottom: 30px;
}

.footer-logo img {
  width: 100%;
  height: auto;
}

.footer-top-text .default-content-wrapper {
  display: flex;
}

.footer-logo+ul {
  display: flex;
  list-style: none;
}

.footer-logo+ul li {
  padding: 15px 17px;
  list-style: none;
}

.footer-logo+ul li a {
  text-decoration: none;
}